<mat-toolbar color="primary">
  <span class="app">
    <a routerLink="/">Todo App</a>
  </span>
  <span class="spacer"></span>
  <span>
    <ul>
      <li *ngIf="isAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Item</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="isAuthenticated">
        <button mat-button routerLinkActive="mat-accent" (click) = "onLogout()">Logout</button>
      </li>
    </ul>
  </span>
</mat-toolbar>
