mat-card {
  width: 50%;
  margin: auto;
  top:50px;
}
mat-form-field {
  width: 100%;
}
#loginBtn{
  margin-left:15px;
}
.login{
  display:flex;
}

@media screen and (max-width: 600px) {
  mat-card {
    width: 60%;
    margin: auto;
    top:50px;
  }
}
